<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.dsleng.etool.perspective.BasePerspectiveFactory"
            id="com.dsleng.etool.perspective.baseperspectiveID"
            name="eTool">
      </perspective>
   </extension>
<extension
      point="org.eclipse.ui.menus">
   <menuContribution
         locationURI="menu:org.eclipse.ui.main.menu?before=file">
      <menu
            id="adfMenu"
            label="ADF">
         <visibleWhen checkEnabled="false">
            <with variable="activeWorkbenchWindow.activePerspective">
                <equals value="com.dsleng.etool.perspective.baseperspectiveID"/>
            </with>
         </visibleWhen>
         <dynamic class="com.dsleng.etool.perspective.MenuPopulationClass"
                id="MenuPopulation"/>
      </menu>
   </menuContribution>
  </extension>
<extension
      id="com.dsleng.projectnature.simple"
      name="com.dsleng.projectnature.simple"
      point="org.eclipse.core.resources.natures">
   <runtime>
      <run
            class="com.dsleng.etool.perspective.projects.SimpleProjectNature">
      </run>
   </runtime>
</extension>
<extension
      id="com.dsleng.etool.perspective.createplugin.id"
      name="eTool"
      point="org.eclipse.ui.newWizards">
   <wizard
         category="com.dsleng.etool.perspective.maincategory"
         class="com.dsleng.etool.perspective.projects.BusDomainProject"
         id="com.dsleng.etool.perspective.wizard1"
         name="Business Domain Language Component"
         project="true">
   </wizard>
   <category
         id="com.dsleng.etool.perspective.maincategory"
         name="eTool">
   </category>
</extension>
</plugin>
