html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map_canvas {
	height: 100%;
}

#checkboxes {
	position: absolute;
	top: 60px;
	right: 10px;
	font-family: 'arial', 'sans-serif';
	font-size: 14px;
	background-color: white;
	border: 1px solid gray;
	padding: 5px 10px;
}

<
style>html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map {
	height: 100%;
}

#floating-panel {
	position: absolute;
	top: 10px;
	left: 25%;
	z-index: 5;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
	text-align: center;
	font-family: 'Roboto', 'sans-serif';
	line-height: 30px;
	padding-left: 10px;
}