<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated controls -->
      <package
            uri="http://com/dsleng/etool/models/controls"
            class="com.dsleng.etool.models.controls.ControlsPackage"
            genModel="model/controls.genmodel"/>
   </extension>

</plugin>
