<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated EGov -->
      <package
            uri="http://com/dsleng/etool/models/egov"
            class="com.dsleng.etool.models.egov.EgovPackage"
            genModel="model/EGov.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated EGov -->
      <package
            uri="http://com/dsleng/etool/models/controls"
            class="com.dsleng.etool.models.Controls.ControlsPackage"
            genModel="model/EGov.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated EGov -->
      <package
            uri="http://com/dsleng/etool/models/bobjs"
            class="com.dsleng.etool.models.bobjs.BobjsPackage"
            genModel="model/EGov.genmodel"/>
   </extension>

</plugin>
